@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  letter-spacing: 0.05em;
}

html,
body,
#__next {
  height: 100%;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

@keyframes fadeLeft {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.about-div {
  background-image: url("../public/aboutus.jpg");
}

.consulting-div {
  background-image: url("../public/consulting.jpg");
}

.marketing-div {
  background-image: url("../public/marketing.jpg");
}

.custom-solutions-div {
  background-image: url("../public/CustomDataSolutionBanner.webp");
}

.transport-operations-div {
  background-image: url("../public/TransportOperationsBanner.webp");
}

.agency-operations-div {
  background-image: url("../public/AgencyOperationsBanner.webp");
}

.prm-div {
  background-image: url("../public/PRMBanner.webp");
}

.dropdown {
  transition: transform 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;
}

.has_dropdown:focus-within .dropdown,
.has_dropdown:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.has_techdropdown:focus-within .techdropdown,
.has_techdropdown:hover .techdropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .marketing-div {
    background-image: url("../public/marketing_mobile.jpg");
    width: 100vw;
  }

  .consulting-div {
    background-image: url("../public/consulting_mobile.jpg");
    width: 100vw;
  }

  .custom-solutions-div {
    background-image: url("../public/CustomDataSolutionMobileBanner.webp");
    width: 100vw;
  }

  .transport-operations-div {
    background-image: url("../public/TransportOperationsMobileBanner.webp");
    width: 100vw;
  }

  .agency-operations-div {
    background-image: url("../public/AgencyOperationsMobileBanner.webp");
    width: 100vw;
  }

  .prm-div {
    background-image: url("../public/PRMMobileBanner.webp");
    width: 100vw;
  }
}

.text-last-left {
  text-align-last: left;
}

/* Printing Pages Carousel*/

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.item-detail {
  width: 300px;
  height: 225px;
}

.swiper-button-next,
.swiper-button-prev {
  color: red !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: red !important;
}

/*  */
.printing-desktop-view {
  height: calc(90vh - 9rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.box-shadow{
  box-shadow: -10px 10px  #f74548;
}


#btn:hover{
  box-shadow: 0px 0px 15px 10px #f7454882;
  border: 2px solid  white;
 
}




.PrintHead{
  background-image: url("https://res.cloudinary.com/debox/image/upload/v1658144495/Debox%20/Printing/Printing/Debox_Print_Banners_k08btp.jpg");
  height: 80vh;
  /* background-position: 0px; */
}